language: php

sudo: false

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

before_script:
  - curl --version
  - composer install

script: make test

matrix:
  allow_failures:
    - php: hhvm
    - php: 7.0
  fast_finish: true
