language: php
matrix:
  include:
  - php: 7.1
    env: INSTALL_LIBSODIUM=true
  # Check tests still work without libsodium install (the tests shouldn't run)
  - php: 7.1
    env: INSTALL_LIBSODIUM=false
  # PHP >=7.2 include libsodium in the standard library
  - php: 7.2
    env: INSTALL_LIBSODIUM=false
  - php: 7.3
    env: INSTALL_LIBSODIUM=false
  - php: 7.4
    env: INSTALL_LIBSODIUM=false
dist: bionic
install: ./scripts/travis-install.sh
script: vendor/bin/phpunit --testsuite unit
notifications:
  webhooks: $ZAPIER_WEBHOOK_URL
